#contact{
width:80%;
margin: auto;
margin-top: 150px;
line-height: 30px;
}
.mb20{
 margin: 20px 0px;
}
.mb30{
    margin: 30px 0px;
}
#contact a{
text-decoration: none;
color:rgb(86, 174, 209)
}
#contact h4{
font-weight: 100;
margin-top: 10px;
}
#contact ul ul{
    margin-left: 20px;
}
.smoke{
    background-color: whitesmoke;
}
#profiletop{
    width:80%;
    margin:auto;
    margin-top: 150px;
}
#profilebox{
    width:40%;
    margin-left:10%;
    margin-top:30px;
    color:white;
    padding: 40px 0px 40px 20px;
    background-color: rgb(0, 142, 204);
    border-radius: 20px ;
}
#profilebox h2{
    font-size:30px;
}
#profilebox i{
    font-size: 30px;
}
#profilebox button{
    font-size: 18px;
    padding: 5px 8px;
    background-color:transparent;
    color: white;
    border: 1px solid white;
}
#pflex{
    display: flex;
}
#pcards{
    width:30%;
    margin-left:5%;
    margin-top:30px;
    padding: 40px 20px;
    border-radius: 20px ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#pcards a{
    font-size: 18px;
    text-decoration: none;
    color:black;
    padding: 10px 0px;
    border-bottom: 1px solid;
}
.ml{
    margin-left: 10%;
    margin-top: 40px;
}
.ml p{
    margin-bottom: 20px;
}
#tc{
    width:80%;
    margin: auto;
    margin-top: 150px;
    line-height: 30px;
    }
#cart{
    width:90%;
    margin:auto;
    margin-top: 150px;
    
}
#cflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ccflex{
    display: flex;
    align-items: center;
}
#blu{
    color: rgb(0, 142, 204);
}
#bl{
    color: rgb(0, 142, 204);
}
#gr{
 color: #ACACAD;
}
#dash{
    height:1px;
    width:40px;
    margin: 0px 10px;
}
#cartbody{
    margin-top: 30px;
    display:flex;
}
#leftd{
    width:60%
}
.flbtw{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
#basket{
    background-color: white;
    width:100%;
    padding:30px 20px 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#cappend{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}
#cartc{
    width:100%;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
#cbody{
    width:100%
}
#sprice{
color:gray;
text-decoration:line-through;
}
#cartc p{
    margin:10px 0px
}
#cartc img{
    width:80px;
    height:70px
}
#cartbtn{
    width:100%;
    display:flex;
    justify-content: end;
    align-items: center;
    font-size: 21px;
}
#plus,#minus{
    font-size: 26px;
    margin: 10px;
    padding:7px 7px 7px 14px;
    border-radius:50%;
    border:none;
    background-color: rgb(0, 142, 204);
    color:white;
    cursor: pointer;
}
#promo{
    font-size: 14px;
    padding: 10px;
    margin:20px 0px 10px 0px;
    border-radius: 10px;
    background-color: #EBF8EB;
}
#pay{
    margin-left: 4%;
    width:40%
}
#coupon{
    padding:30px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}
#coupon h3{
    margin-bottom: 20px;
}
#coupon input{
    border:none;
    width:80%;
    /* border-bottom: 1px solid gray; */
    font-size: 18px;
}
#coupon input:focus {
    outline:none;
}
#coupon button{
    border:none;
    background-color: transparent;
    color:gray;
    padding:5px 10px;
    font-size: 18px;
    cursor: pointer;
}
hr{
    width:100%;
    margin:8px 0px;
}
#cpayment{
    padding:30px 20px;
    background-color: white;
    border-radius: 10px;
   
}
#cpayment h3{
    margin-bottom: 30px;
}
#place{
    font-size: 21px;
    margin-top: 20px;
    padding:7px 10px;
    border-radius:7px;
    border:none;
    background-color: rgb(0, 142, 204);
    color:white;
    cursor: pointer;
}
#address{
    padding:30px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}
#address input{
    display: block;
    margin-top:10px;
    font-size: 21px;
    width:80%;
    border:none;
    border-bottom:1px solid gray
}
#address h3{
    margin-bottom:20px
}
#address input:focus{
    outline:none
}
#logout{
    cursor: pointer;
}