#productstopnav{
    /* border: 1px solid red; */
    height: 42px;
}
#productstopnav a{
    text-decoration: none;
    color: #6F7284;
    margin-left: 10px;
    
}
#detailpagemain{
    height:614px;
    width: 1300px;
    margin: auto;
    display: flex;   
}
#detailpageimg{
    height: 500px;
    width: 500px;
   
}
#detailpagedes{
    width: 800px;
    /* border: 1px solid green; */
    margin-left: 40px;
}
#detailspageappenddiv{
    height: 170px;
    width: 800px;
    /* border: 1px solid red; */
}
#detailspagestaticdiv{
    width: 800px;
    height: 442px;
    /* border: 1px solid blue; */
}
.buttonmain{
    height: 36px;
    width: 240px;
    background-color: #008ecc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    /* padding-right: 100px; */
}
.deatilinput{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 230px;
}
.detailpagecheck{
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-left: 20px;
}
.detailstime{
    font-size: 14px;
    color: grey;
    margin-left: 20px;
}
.detailpagedescrip p1{
margin-left: 20px;
font-size: 20px;
font-weight: bolder;
}
.detailpagedescrip{
    margin-top: 20px;
}
.detailpagedescrip p{
    margin-left: 40px;
    font-size: 15px;
    font-weight: bold;
    }
 .detailpagedilvery{
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
 } 
 .detailpagesold{
    font-size: 19px;
    font-weight: 400;
    margin-left: 20px;
 }
 .detailpageinau{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200;
    margin-left: 20px;
 }
 button{
    margin-top: 10px;
    margin-left: 20px;
 }  
 .detailspageimgsmall{
    margin-left: 20px;
 }
 .imagedetail{
    height: 500px;
    width: 500px;
 }
 .box3main{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    box-sizing: border-box;
    
    
}
.box3main p{
  font-size: 20px;
  font-weight: bold;
}
.box3main strike{
    margin-top: 19px;
    margin-right: 20px;
    font-size: 16px;
    color: #6F7284;

}
.discount{
    margin-top: 0px;
    color: #0eeb0b;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}
#detailbox{
    font-size: 18px;
    font-weight: bold;
    width: 600px;
    height: 30px;
    margin-left: 20px;
    
    
}
.box5main{
    margin-top: -10px;
    color: #0eeb0b;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}
