body{
    background-color: #efefef;
}
#productstopnav{
    border: 1px solid red;
    height: 42px;


}
#productsmain{
    /* border: 2px solid green; */
    display: flex;
}
#produtssidebarmain{
    /* border: 1px solid blue; */
    width: 275px;
    height: 1500px;
    margin-left: 10px;
}
#productsbannercontmain{
    width: 1200px;
    height: 1500px;
    /* border: 1px solid teal; */
    margin-left: 52px;
}
.produtsmainbanner img{
    height: 233px;
    width: 1167px;
}
#productsSortnav{
    border: 1px solid grey;
    height: 30px;
    display: flex;
    justify-content: space-between;

}
#productssortButtons{
    display: flex;
    gap: 20px;
    margin-right: 10px;
    
    

}
.productfilterlistdiv ui{
    list-style-type: none;
    line-height: 40px;
    font-size: 18px;
    color: #6F7284;
    
    
    
}
.productfilterlistdiv a{
    text-decoration: none;
}
.productfilterlistdiv{
    padding-left: 20px;
    padding-top: 20px;
    /* border: 1px solid black; */
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 10px;
}
.productcat{
    font-size: 28px;
    color:#6F7284;
    line-height: 50px;
    
}
.productsidebarcheckbox li{
 list-style-type: none;
 line-height: 25px;
 color: #202020;
 font-size: 20px;
 
 
}
.productsidebarcheckbox{
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.productsf{
    padding-left: 25px;
    padding-top: 30px;
    font-size: 25px;
    color:  #6F7284;
}
.productsA{
    padding-left: 40px;
    padding-top: 15px;
    font-size: 20px;
    color:  #6F7284;
}
.productsC{
    padding-left: 40px;
    font-size: 18px;
    color:  #6F7284;
}

/* ----------------------- */

#groceriesappend{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    
}



.proimg{
    height: 150px;
    width: 150px;
}
.box1main{
    height: 343px;
    width: 274px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 20px;
    
}
